<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/iconh"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconh"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoodLife"
        tools:targetApi="31">
        <activity
            android:name=".NotificationData"
            android:exported="false" />

        <receiver android:name=".NotificationReceiver" />

        <activity
            android:name=".RecommendMenu"
            android:exported="false" />
        <activity
            android:name=".WaterDemand"
            android:exported="false" />
        <activity
            android:name=".ContactWithNutritionist"
            android:exported="true" />
        <activity
            android:name=".QuestionAndAnswer"
            android:exported="false" />
        <activity
            android:name=".ContactSupportTeam"
            android:exported="false" />
        <activity
            android:name=".AppRanking"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".TrackingDiagram"
            android:exported="false" />
        <activity
            android:name=".Notification"
            android:exported="false" />
        <activity
            android:name=".UserInformation"
            android:exported="false" />
        <activity
            android:name=".TempMenuData"
            android:exported="false" />
        <activity
            android:name=".TemplateMenuView"
            android:exported="false" />
        <activity
            android:name=".DiaryItemData"
            android:exported="false" />
        <activity
            android:name=".ItemData"
            android:exported="false" />
        <activity
            android:name=".Physical"
            android:exported="false" />
        <activity
            android:name=".Dietary"
            android:exported="false" />
        <activity
            android:name=".CalculateNutritionalStatus"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".LoginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>